<div class="container p-con">
    <div class="row p-row" >
        <div class="col-auto d-flex align-items-center">
            <img src="material/request1.png" alt="Request Icon" class="request-icon2">
            <h5 class="ml-2">History</h5>
        </div>
    </div>
<hr>
    <div class="row p-row">
        <!-- Card 1 -->
        <div class="col-12 col-md-6 col-lg-3 mb-4">
        <app-history-card
        [title]="getRandomCard().title"
        [dateRange]="getRandomCard().dateRange"
        [duration]="getRandomCard().duration"
        [approvedBy]="getRandomCard().approvedBy">
      </app-history-card>
        </div>
        <!-- Card 2 -->
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <app-history-card
            [title]="getRandomCard().title"
            [dateRange]="getRandomCard().dateRange"
            [duration]="getRandomCard().duration"
            [approvedBy]="getRandomCard().approvedBy">
          </app-history-card>
        </div>
        <!-- Card 3 -->
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <app-history-card
            [title]="getRandomCard().title"
            [dateRange]="getRandomCard().dateRange"
            [duration]="getRandomCard().duration"
            [approvedBy]="getRandomCard().approvedBy">
          </app-history-card>
        </div>
        <!-- Card 4 -->
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <app-history-card
            [title]="getRandomCard().title"
            [dateRange]="getRandomCard().dateRange"
            [duration]="getRandomCard().duration"
            [approvedBy]="getRandomCard().approvedBy">
          </app-history-card>
        </div>
        
    </div>

    <div class="row p-row">
        <!-- Card 1 -->
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <app-history-card
            [title]="getRandomCard().title"
            [dateRange]="getRandomCard().dateRange"
            [duration]="getRandomCard().duration"
            [approvedBy]="getRandomCard().approvedBy">
          </app-history-card>
        </div>
    <!-- Card 2 -->
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <app-history-card
            [title]="getRandomCard().title"
            [dateRange]="getRandomCard().dateRange"
            [duration]="getRandomCard().duration"
            [approvedBy]="getRandomCard().approvedBy">
          </app-history-card>
        </div>
    <!-- Card 3 -->
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <app-history-card
            [title]="getRandomCard().title"
            [dateRange]="getRandomCard().dateRange"
            [duration]="getRandomCard().duration"
            [approvedBy]="getRandomCard().approvedBy">
          </app-history-card>
        </div>

        <!-- Container for View More Button -->
        <div class="col-12 view-more-wrapper">
            <div class="view-more-container">
                <a  class="view-more-btn">View More ></a>
            </div>
        </div>
    </div>
    
</div>