.search-input {
    padding: 5px;
    width: 200px;
    border-radius: 20px;
}
.search-wrapper {
    position: relative;
    width: 260px; 

}

.search-input {
    width: 100%;
    padding: 8px 35px 8px 15px; 
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.3s ease;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #247f3e;
    font-size: 16px;
    pointer-events: none;
}

.search-input:focus {
    border-color: #247f3e; 
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}