<div class="container p-con">
    <div class="row p-row" >
        <!-- Main content column with image and text -->
        <div class="col-sm-8 d-flex align-items-center flex-column flex-sm-row">
            <img src="material/Elon_Musk.jpg" alt="Profile Picture" class="rounded-circle profile-img">
            <div class="text-container ms-3 text-center text-sm-start">
                <h5><strong>Elon Musk</strong></h5>
                <p class="text-muted mb-0 text-center text-sm-start">Marketing Department</p>
                <p class="text-muted mb-0 text-center text-sm-start">Junior Accounting Officer</p>
            </div>
        </div>
        <!-- Button column -->
        <div class="col-12 col-sm-4 text-center text-sm-end mt-3 mt-sm-0">
            <button type="button" class="btn btn-primary btn-lg custom-btn" style="max-width: 200px; width: 80%;">New Request</button>
        </div>
    </div>
    
    
    
    <div class="row p-row" >
        <!-- Columns with icons and text -->
        <div class="col-6 col-sm d-flex align-items-center">
            <img src="material/reportingto.png" alt="Icon" class="img-fluid icon">
            <div class="text-container">
                <p><strong>Reporting To:</strong><br>Salwa Assem</p>
            </div>
        </div>
        <div class="col-6 col-sm d-flex align-items-center">
            <img src="material/corporatelvl.png" alt="Icon" class="img-fluid icon">
            <div class="text-container">
                <p><strong>Corporate Level:</strong><br>Level 10</p>
            </div>
        </div>
        <div class="col-6 col-sm d-flex align-items-center">
            <img src="material/lifeTime.png" alt="Icon" class="img-fluid icon">
            <div class="text-container">
            <p><strong>Lifetime:</strong><br>2.5 Years</p>
            </div>
        </div>
        <div class="col-6 col-sm d-flex align-items-center">
            <img src="material/vacationdaysleft.png" alt="Icon" class="img-fluid icon">
            <div class="text-container">
                <p><strong>Vacation Days Left:</strong><br>10 Days</p>
            </div>
        </div>
        <div class="col-6 col-sm d-flex align-items-center">
            <img src="material/sickdaysleft.png" alt="Icon" class="img-fluid icon">
            <div class="text-container">
                <p><strong>Sick Days Left:</strong><br>14 Days</p>
            </div>
        </div>
    </div>
    
</div>